{% extends 'index.html' %}

{% block body %}
	<div class="container">
		<h2 class="text-center">
			Upload the Business Card to Scan and Extract Entities
		</h2>
		<div class="container mt-5">
			<form class="row g-3" action="/scan_doc" method="POST" enctype="multipart/form-data">
				<div class="d-flex flex-row align-items-center">
					<div>
						<input class="form-control" type="file" id="formFile" name="file_name" required>
					</div>
					<button type="submit" class="btn btn-primary">Upload Document(s)</button>
				</div>
			</form>
			{% if file_upload %}
				<div class="row">
					<button class="btn btn-primary" id="sendData">
						Wrap Document and Extract Text
					</button>
				</div>
			{% endif %}
		</div>
		<!-- Creating CANVAS-->
		{% if file_upload %}
			<div class="container mt-5">
				<p>{{ message }}</p>

				<div class="row">
					<div class="col">
						<canvas id="canvas" style="max-width: 100%; height: auto">
						</canvas>
					</div>
					<div class="col text-center" id="loader">

					</div>
				</div>
			</div>
			<script>
                loadPoints({{ points | tojson }}, '/' + {{ image_path|tojson|safe }})
                const imagePath = {{ image_path|tojson|safe }}
                // Get Filename
                const fileName = imagePath.split('/')[2]
                const fileDateTimeStamp = fileName.replace('resize_image_', "")

                document.addEventListener('DOMContentLoaded', () => {
                    const targetEl = document.getElementById('sendData')
                    targetEl.dataset.key = fileDateTimeStamp
                })
			</script>
		{% endif %}
	</div>
{% endblock %}